<div style="opacity: 1; width: 100%; transform: none;">
    <div id="card-tab-panel" role="tabpanel" aria-labelledby="card-tab">
        <div>
            <div class="PaymentForm-paymentMethodForm flex-container direction-column wrap-wrap"
                style="gap: 16px;">
                <div class="flex-item width-12">
                    <div class="FormFieldGroup" data-qa="FormFieldGroup-cardForm">
                        <div
                            class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                            <label for="cardForm-fieldset"><span
                                    class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">Informações
                                    Carteira</span></label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset"
                            id="cardForm-fieldset">
                            <div class="FormFieldGroup-container">
                                <div
                                    class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop">
                                    <div class="FormFieldInput padding-right-120">
                                        <div class="CheckoutInputContainer"><span
                                                class="InputContainer"
                                                data-max=""><input
                                                    class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                    autocomplete="cc-number"
                                                    autocorrect="off"
                                                    spellcheck="false"
                                                    id="cardNumber"
                                                    name="cardNumber" type="text"
                                                    inputmode="numeric"
                                                    aria-label="Card number"
                                                    placeholder="1234 1234 1234 1234"
                                                    aria-invalid="false"
                                                    aria-describedby=""
                                                    data-1p-ignore="false"
                                                    value=""></span></div>
                                        <div class="FormFieldInput-Icons"
                                            style="opacity: 1;">
                                            <div style="transform: none;"><span
                                                    class="FormFieldInput-IconsIcon is-visible"><img
                                                        src="https://js.stripe.com/v3/fingerprinted/img/visa-729c05c240c4bdb47b03ac81d9945bfe.svg"
                                                        alt="Visa" class="BrandIcon"
                                                        loading="lazy"
                                                        fetchpriority="low"></span>
                                            </div>
                                            <div style="transform: none;"><span
                                                    class="FormFieldInput-IconsIcon is-visible"><img
                                                        src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg"
                                                        alt="MasterCard"
                                                        class="BrandIcon"
                                                        loading="lazy"
                                                        fetchpriority="low"></span>
                                            </div>
                                            <div style="transform: none;"><span
                                                    class="FormFieldInput-IconsIcon is-visible"><img
                                                        src="https://js.stripe.com/v3/fingerprinted/img/amex-a49b82f46c5cd6a96a6e418a6ca1717c.svg"
                                                        alt="American Express"
                                                        class="BrandIcon"
                                                        loading="lazy"
                                                        fetchpriority="low"></span>
                                            </div>
                                            <div
                                                class="CardFormFieldGroupIconOverflow">
                                                <span
                                                    class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible"
                                                    role="presentation"><span
                                                        class="FormFieldInput-IconsIcon"
                                                        role="presentation"><img
                                                            src="https://js.stripe.com/v3/fingerprinted/img/unionpay-8a10aefc7295216c338ba4e1224627a1.svg"
                                                            alt="UnionPay"
                                                            class="BrandIcon"
                                                            loading="lazy"
                                                            fetchpriority="low"></span></span><span
                                                    class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--visible"
                                                    role="presentation"><span
                                                        class="FormFieldInput-IconsIcon"
                                                        role="presentation"><img
                                                            src="https://js.stripe.com/v3/fingerprinted/img/jcb-271fd06e6e7a2c52692ffa91a95fb64f.svg"
                                                            alt="JCB"
                                                            class="BrandIcon"
                                                            loading="lazy"
                                                            fetchpriority="low"></span></span><span
                                                    class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible"
                                                    role="presentation"><span
                                                        class="FormFieldInput-IconsIcon"
                                                        role="presentation"><img
                                                            src="https://js.stripe.com/v3/fingerprinted/img/discover-ac52cd46f89fa40a29a0bfb954e33173.svg"
                                                            alt="Discover"
                                                            class="BrandIcon"
                                                            loading="lazy"
                                                            fetchpriority="low"></span></span><span
                                                    class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible"
                                                    role="presentation"><span
                                                        class="FormFieldInput-IconsIcon"
                                                        role="presentation"><img
                                                            src="https://js.stripe.com/v3/fingerprinted/img/diners-fbcbd3360f8e3f629cdaa80e93abdb8b.svg"
                                                            alt="Diners Club"
                                                            class="BrandIcon"
                                                            loading="lazy"
                                                            fetchpriority="low"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                
                                <div class="FieldError-container"
                                    style="opacity: 0; height: 0px; margin-top: 0px;">
                                    <span
                                        class="FieldError Text Text-color--red Text-fontSize--13"><span
                                            aria-hidden="true"></span></span>
                                </div>
                            </div>
                            <div class="FieldError-container"
                                style="opacity: 0; height: 0px; margin-top: 0px;">
                                <span
                                    class="FieldError Text Text-color--red Text-fontSize--13"><span
                                        aria-hidden="true"></span></span>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div
                    class="BillingInfoForm flex-item width-grow flex-container direction-column">
                    <div class="AnimateSinglePresence">
                        <div class="AnimateSinglePresenceItem">
                            <div>
                                <div class="BillingInfoForm-addressInput flex-item width-12"
                                    aria-hidden="false" style="margin-top: 0px;">
                                    <div
                                        class="flex-container spacing-16 direction-column wrap-wrap">
                                        <div class="flex-item width-12">
                                            <div class="FormFieldGroup"
                                                data-qa="FormFieldGroup-billingName">
                                                <div
                                                    class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                                    <label for="billingName"><span
                                                            class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">Nome
                                                            do
                                                            Titular</span></label>
                                                </div>
                                                <div class="FormFieldGroup-Fieldset"
                                                    id="billingName-fieldset">
                                                    <div
                                                        class="FormFieldGroup-container">
                                                        <div
                                                            class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                                                            <div
                                                                class="FormFieldInput">
                                                                <div
                                                                    class="CheckoutInputContainer">
                                                                    <span
                                                                        class="InputContainer"
                                                                        data-max=""><input
                                                                            class="CheckoutInput Input Input--empty"
                                                                            autocomplete="cc-name"
                                                                            autocorrect="off"
                                                                            spellcheck="false"
                                                                            id="billingName"
                                                                            name="billingName"
                                                                            type="text"
                                                                            placeholder="None Completo"
                                                                            aria-invalid="false"
                                                                            aria-describedby=""
                                                                            data-1p-ignore="false"
                                                                            value=""></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="FieldError-container"
                                                            style="opacity: 0; height: 0px; margin-top: 0px;">
                                                            <span
                                                                class="FieldError Text Text-color--red Text-fontSize--13"><span
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="FieldError-container"
                                                        style="opacity: 0; height: 0px; margin-top: 0px;">
                                                        <span
                                                            class="FieldError Text Text-color--red Text-fontSize--13"><span
                                                                aria-hidden="true"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex-item width-12">
                                            <div class="FormFieldGroup"
                                                data-qa="FormFieldGroup-countryWithOptionalPostalCodeInput">
                                                <div
                                                    class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                                    <label for="country"><span
                                                            class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">País
                                                            ou Região</span></label>
                                                </div>
                                                <div class="FormFieldGroup-Fieldset"
                                                    id="countryWithOptionalPostalCodeInput-fieldset">
                                                    <div
                                                        class="FormFieldGroup-container">
                                                        <div
                                                            class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                                                            <div
                                                                class="FormFieldInput is-select">
                                                                <div>
                                                                    <div
                                                                        class="Select">

                                                                        <select
                                                                            id="billingCountry"
                                                                            name="billingCountry"
                                                                            autocomplete="billing country"
                                                                            aria-label="Country or region"
                                                                            class="Select-source">
                                                                            <option
                                                                                value=""
                                                                                disabled=""
                                                                                hidden="">
                                                                            </option>
                                                                            <option
                                                                                value="MZ">
                                                                                Mozambique
                                                                            </option>
                                                                        </select>

                                                                    </div>
                                                                    <br>
                                                                   